$Orange: hsl(26, 100%, 55%);
$Paleorange: hsl(25, 100%, 94%);
$Verydarkblue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$buttonClickGray: hsl(0, 0%, 85%);
@import "./breakpoints.scss";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
html{
    background-color: $White;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
.container{
    min-width: 380px;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    @include desktop{
        min-height: 750px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}
@mixin font{
    font-family: 'Kumbh Sans', sans-serif;
}
@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin menuButton{
    background-color: $White;
    border: none;
    width: 40px;
    height: 40px;
    @include flexCenter;
    &:active{
        background-color: $buttonClickGray;
    }
    &:hover{
        cursor: pointer;
    }
}
.clickOut{
    position: absolute;
    background: none;
    border: none;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
}
.cartMenu{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
        
    margin: 0;
    position: absolute;
    top: 78px;
    right: 40px;
    z-index: 99;
    
    background-color: white;
    border-radius: 10px;

    min-width: 300px;
    max-width: 360px;
    min-height: 160px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1px 1fr;
    hr{
        width: 100%;
        height: 1px;
        margin: 0;
    }
    .cartTitle{
        font-weight: 700;
        padding: 15px;
        margin: 0;
    }
    .cartItems{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        .item{
            border: none;
            height: 50px;
            width: 100%;
            display: grid;
            grid-template-columns: 50px 1fr 40px;
            grid-template-rows: 1fr 1fr; 
            img{
                border: none;
                border-radius: 5px;
                grid-row: 1/3;
                grid-column: 1/2;
                aspect-ratio: 1/1;
                height: 100%;
            }
            .itemName{
                color: $Darkgrayishblue;
                padding-left: 1em;
                border: none;
                grid-row: 1/2;
                grid-column: 2/3;
                font-size: .75em;
                margin: 0;
            }
            .itemCost{
                padding-left: 1em;
                border: none;
                grid-row: 2/3;
                grid-column: 2/3;
                font-size: .75em;
                margin: 0;
                span{
                    margin-left: 1em;
                    font-weight: 700;
                }
            }
            .removeItem{
                border: none;
                grid-row: 1/3;
                grid-column: 3/4;
                background:none;
                &:active{
                    background-color: $buttonClickGray;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            margin-bottom: 10px;
        }
        .checkOut{
            color: $White;
            @include font;
            font-weight: 700;
            margin-top: auto;
            background-color: $Orange;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 10px;
            &:active{
                background-color: hsl(26, 100%, 70%);;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.menuScreen{
    border: none;
    
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    z-index: 5;
    .sideBar{
        border: none;
        font-size: 1em;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        .closeMenu{
            @include menuButton;
            margin: 16px;
        }
        .route{
            color: $Verydarkblue;
            background-color: $White;
            border: none;
            width: 100%;
            height: 40px;
            text-align: left;
            padding-left: 2em;
            @include font;
            font-weight: 700;
            &:hover{
                color: $Orange;
                cursor: pointer;

                text-decoration: underline;
            }
            &:active{
                background-color: $buttonClickGray;
                
            }
        }
    }   
    .blackScreen{
        background-color:black;
        opacity: .75;
        border: none;
    }
}
.navBar{
    height: 68px;
    width: 100%;
    min-width: 272px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; 
    border-bottom: 1px solid $Grayishblue;
    background-color: $White;
    display: grid;
    grid-template-columns: 68px 136px 1fr 68px 68px;
    grid-template-rows: 1fr;
    @include desktop{
        grid-template-columns: 0px 136px 1fr 68px 68px;
        grid-template-rows: 1fr;
        margin-bottom: 68px;
    }
    .menu{
        width: 68px;
        height: 68px;
        grid-column: 1/2;
        @include flexCenter;
        .openMenu{
            @include menuButton;
        }
    }
    .header{
        font-size: 2em;
        font-weight: 700;
        width: 136px;
        height: 68px;
        @include flexCenter;
        grid-column: 2/3;
    }
    .cart{
        width: 68px;
        height: 68px;
        grid-column: 4/5;
        display: flexCenter;
        .cartButton{
            @include menuButton;
            position: relative;
            left: 14px;
            top: 14px;
            svg{
                filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(880%) hue-rotate(102deg) brightness(102%) contrast(103%);
            }
        }
        .displayCount{
            position: relative;
            left: 33px;
            bottom: 19px;
            height: 10px;
            max-width: 15px;
            border: none;
            border-radius: 999999px;
            background-color: $Orange;
            color: $White;
            @include font;
            font-weight: 700;
            font-size: .6em;
            @include flexCenter;
        }
    }
    .avatar{
        width: 68px;
        height: 68px;
        @include flexCenter;
        grid-column: 5/6;
    }
    .topRoutes{
        padding-left: 1em;
        border-bottom: 1px solid $Grayishblue;
        .route1{
            color: $Darkgrayishblue;
            background-color: $White;
            border: none;
            height: 100%;
            text-align: left;
            padding-right: 1em;
            padding-left: 1em;
            @include font;
            font-weight: 400;
            &:hover{
                color: $Orange;
                cursor: pointer;
    
                text-decoration: underline;
            }
            &:active{
                background-color: $buttonClickGray;
                
            }
        }
    }
    
}
.fullScreen{
    position: absolute;
    z-index: 55;
    width: 100%;
    height: 100%;
    min-height: 940px;
    margin-left: calc((100vw - 1100px) / -2);
    @include flexCenter;
    .exitFull{
        position: relative;
        z-index: 19;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        left: 510px;
        bottom: 400px;
        @include flexCenter;
        &:hover{
            cursor: pointer;
        }
        svg{
            filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(25%) hue-rotate(351deg) brightness(105%) contrast(107%);
        }
    }
    .SliderSelector{
        width: 550px;
        height: 500px;
        position: relative;
        top: 30px;
        .imageFull{
            position: absolute;
            bottom: 195px;
            z-index: 15;
            width: 500px;
            height: 500px;
            img{
                border-radius: 2em;
                width: 500px;
                height: 500px;
            }
            .moveLeft{
                background-color: $White;
                position: relative;
                border:none;
                border-radius: 90909090px;
                right: 25px;
                top: 275px;
                aspect-ratio: 1/1;
                height: 50px;
                @include flexCenter;
                padding-right: 10px;
                z-index: 16;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    background-color: $buttonClickGray;
                }
            }
            .moveRight{
                background-color: $White;
                position: relative;
                left: 475px;
                bottom: 278.45px;
                border:none;
                border-radius: 90909090px;
                aspect-ratio: 1/1;
                height: 50px;
                @include flexCenter;
                padding-left: 10px;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    background-color: $buttonClickGray;
                }
                z-index: 16;
            }
        }
    }
    .Slider{
        position: absolute;
        top: 650px;
        width: 400px;
        height: 80px;
        display: flex;
        justify-content: space-between;

        bottom: 35px;
        z-index: 19;
        .thumb1{
            position: relative;
            @include flexCenter;
            height: 80px;
            width: 80px;
            overflow: visible;
            border-radius: 1em;
            border: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 1em;
            }
            .selected1{
                position: absolute;
                border: solid 3px $Orange;
                background-color: $Paleorange;
                opacity: .8;
                border-radius: 1em;
                width: 80px;
                height: 80px;
            }
        }
        .thumb2{
            @include flexCenter;
            height: 80px;
            width: 80px;
            border-radius: 1em;
            border: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 1em;
            }
            .selected2{
                position: absolute;
                border: solid 3px $Orange;
                background-color: $Paleorange;
                opacity: .8;
                border-radius: 1em;
                width: 80px;
                height: 80px;
            }
        }
        .thumb3{
            @include flexCenter;
            height: 80px;
            width: 80px;
            border-radius: 1em;
            border: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 1em;
            }
            .selected3{
                position: absolute;
                border: solid 3px $Orange;
                background-color: $Paleorange;
                opacity: .8;
                border-radius: 1em;
                width: 80px;
                height: 80px;
            }
        }
        .thumb4{
            @include flexCenter;
            height: 80px;
            width: 80px;
            border-radius: 1em;
            border: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 1em;
            }
            .selected4{
                position: absolute;
                border: solid 3px $Orange;
                background-color: $Paleorange;
                opacity: .8;
                border-radius: 1em;
                width: 80px;
                height: 80px;
            }
        }
    }
    .blackScreen{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color:black;
        opacity: .75;
        border: none;
        
    }
}
.ImageSlider{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 444px;
    height: 100%;
    max-height: 444px;
    overflow: hidden;
    @include flexCenter;
    .moveLeft{
        background-color: $White;
        position: relative;
        border:none;
        border-radius: 90909090px;
        left: 60px;
        aspect-ratio: 1/1;
        height: 50px;
        @include flexCenter;
        padding-right: 10px;
        z-index: 0;
        &:hover{
            cursor: pointer;
        }
        &:active{
            background-color: $buttonClickGray;
        }
    }
    .moveRight{
        background-color: $White;
        position: relative;
        right: 60px;
        border:none;
        border-radius: 90909090px;
        aspect-ratio: 1/1;
        height: 50px;
        @include flexCenter;
        padding-left: 10px;
        &:hover{
            cursor: pointer;
        }
        &:active{
            background-color: $buttonClickGray;
        }
        z-index: 1;
    }
    img{
        width: 100%;
        height: auto;
    }
    @include desktop{
        margin-left: 50px;
        margin-right: 0;
        width: 444px;
        max-height: 555px;
        height: 555px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        
        .Image{
            width: 444px;
            height: 444px;
            @include flexCenter;
            img{
                border-radius: 2em;
                width: 100%;
                height: 100%;
            }
            .doubleClick{
                position: absolute;
                border: none;
                border-radius: 2em;
                background-color: transparent;
                width: 444px;
                height: 444px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .thumb1{
            @include flexCenter;
            height: 80px;
            width: 80px;
            overflow: visible;
            border-radius: 1em;
            border: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 1em;
            }
            .selected1{
                position: absolute;
                border: solid 3px $Orange;
                background-color: $Paleorange;
                opacity: .8;
                border-radius: 1em;
                width: 80px;
                height: 80px;
            }
        }
        .thumb2{
            @include flexCenter;
            height: 80px;
            width: 80px;
            border-radius: 1em;
            border: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 1em;
            }
            .selected2{
                position: absolute;
                border: solid 3px $Orange;
                background-color: $Paleorange;
                opacity: .8;
                border-radius: 1em;
                width: 80px;
                height: 80px;
            }
        }
        .thumb3{
            @include flexCenter;
            height: 80px;
            width: 80px;
            border-radius: 1em;
            border: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 1em;
            }
            .selected3{
                position: absolute;
                border: solid 3px $Orange;
                background-color: $Paleorange;
                opacity: .8;
                border-radius: 1em;
                width: 80px;
                height: 80px;
            }
        }
        .thumb4{
            @include flexCenter;
            height: 80px;
            width: 80px;
            border-radius: 1em;
            border: none;
            img{
                width: 80px;
                height: 80px;
                border-radius: 1em;
            }
            .selected4{
                position: absolute;
                border: solid 3px $Orange;
                background-color: $Paleorange;
                opacity: .8;
                border-radius: 1em;
                width: 80px;
                height: 80px;
            }
        }
    }
}
.itemDesc{
    @include desktop{
        margin-left: auto;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 555px;
        width: 444px;
    }
}
.ItemInfo{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-height: 300px;
    font-size: .9em;
    .company{
        font-weight: 700;
        color: $Orange;
    }
    .itemHeader{
        margin: 0;
        line-height: 100%;
    }
    .itemDescription{
        color: $Darkgrayishblue;
    }
    .itemCosts{
        font-weight: 700;
        height: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        .finalCost{
            font-size: 2em;
        }
        .discount{
            font-size: 1em;
            background-color: $Paleorange;
            color: $Orange;
            width: 3em;
            height: 1.5em;
            border-radius: 1em;
            margin-left: 1em;
            @include flexCenter;
        }
        .oldPrice{
            color: $Grayishblue;
            text-decoration: line-through;
            margin-left: auto;
        }

    }
    @include desktop{
        width: 444px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
.buyItem{
    padding: 0 30px;
    margin-top: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .counts{
        margin-top: 1em;
        width: 100%;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .minus{
            height: 30px;
            width: 30px;
            @include flexCenter;
            border: none;
            background-color: $White;
            &:hover{
                cursor: pointer;
            }
            &:active{
                background-color: $buttonClickGray;
            }
        }
        .plus{
            height: 30px;
            width: 30px;
            @include flexCenter;
            border: none;
            background-color: $White;
            &:hover{
                cursor: pointer;
            }
            &:active{
                background-color: $buttonClickGray;
            }
        }
    }
    .addToCart{
        box-shadow: 0px 4px 5px 0px rgba(255,125,26,0.75);
        -webkit-box-shadow: 0px 4px 5px 0px rgba(255,125,26,0.75);
        -moz-box-shadow: 0px 4px 5px 0px rgba(255,125,26,0.75);
        margin-top: 1em;
        height: 3.5em;
        @include flexCenter;
        width: 100%;
        background-color: $Orange;
        @include font;
        font-weight: 700;
        color: $White;
        border: none;
        border-radius: 1em;
        svg{
            filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(25%) hue-rotate(351deg) brightness(105%) contrast(107%);
            margin-right: 1em;
        }
        &:hover{
            cursor: pointer;
        }
        &:active{
            background-color: hsl(26, 100%, 70%);;
        }
        margin-bottom: 60px;
    }
    @include desktop{
        width: 444px;
        padding-left: 0px;
        padding-right: 0px;
    }
}